
form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: white; */
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
    margin-bottom: 6%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group label{
    margin-bottom: 2%;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #6366F1;
    font-size: 20px;
    border-radius: 10px;
}

.form-group button:hover {
    background-color: #4f46e5;
}



@media (max-width: 768px) {
 

    h1 {
        font-size: 1.5em;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9em;
    }

}

@media (max-width: 480px) {
    .form-group {
        flex-direction: column;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.8em;
    }

}